h1,
.city {
  text-align: center;
  color: #43a348;
}
h2,
.current-day-time,
.current-weather {
  text-align: center;
  color: #6d4f9d;
}

ul {
  list-style-type: none;
  font-size: 22px;
  color: #6d4f9d;
}
p {
  text-align: center;
  font-size: 25px;
  color: #6d4f9d;
}
.weather-app-wrapper {
  margin-top: 25px;
}
.left {
  color: #ff822d;
  text-align: left;
  font-size: 24px;
}
.right {
  text-align: right;
}

.temperature {
  display: block;
  text-align: center;
  position: relative;
  right: 100px;
  font-size: 165px;
  color: #0b5ed7;
}

.units {
  font-size: 50px;
  font-weight: 400;
  position: relative;
  left: 230px;
  bottom: 200px;
}
.active {
  cursor: default;
  text-decoration: none;
}
.btn-sucess {
  color: #efff;
  background: #45a649;
  border-radius: 4px;
}
.card-title,
.weather-emoji,
.card-text {
  text-align: center;
  font-size: 30px;
  background: rgb(240, 246, 251);
}

.card-text:hover {
  background: #c2dbfe;
  transition: all 150ms ease-in-out;
}
.container {
  max-width: 1080px;
}
